@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Electronic';
  src: url(./assets/fonts/FX-LED.ttf);
}
/*  背景渐变 + 字体镂空 */
.text-gradient {
  background-image: linear-gradient(to bottom, #e5e4ea, #5ea8f2);
  -webkit-background-clip: text;  /*背景色会衍生到文字上*/
  -webkit-text-fill-color: transparent; /*文字颜色透明，显示背景色*/
}